body{
	background-image: url(gr.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.div-div{
	width: 200px;
	height: 350px;
	background-color: yellow;
}

.text-quest{
	padding-top: 30px;
	margin-left:  15px;
}

.text-score{
	margin-left: 15px;
	padding-top: 20px;
}

.img{
	position: absolute;
}

.img1{
	left:  1411px;
	top:  770px;
	width: 40px;
	height: 20px;
}

.img2{
	top: 910px;
	width: 40px;
	height:  20px;
}

.img3{
	left: 340px;
	width: 40px;
	height: 30px;
}

.img4{
	width: 30px;
	height: 40px;
	left:  1390px;
	top: 20px;
}